<!DOCTYPE html>
<html>
  <head>
    <title><%= status %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= status %></h1>
    <p><%= message %></p>
  </body>
</html>